#resume {
  width: 900px;
  margin: 5em 0;
  @include outer-container();
  color: #111;

  a {
    color: $light-gray;
  }

  .filler {
    @include span-columns(2);
  }

  span {
    color: $light-gray;
    font-weight: 200;
  }

  section {
    @include outer-container();
    margin-top: 3em;

    h1 {
      @include span-columns(2);

      font-size: 1.2em;
      margin-top: 2px;
      color: $light-gray;
    }

    .content {
      @include span-columns(10);
      @include omega();
    }

    h2 {
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
  }

  .contact {
    a, span {
      margin-right: 40px;
    }

    span {
      font-weight: normal;
    }
  }

  .experience .content {
    .date {
      display: block;
      float: right;
      font-size: 0.9em;
    }

    li:not(:last-child) {
      margin-bottom: 2.5em;
    }
  }

  .skillset .content {
    div {
      @include span-columns(4);
    }
  }
}
